<!DOCTYPE html>
<html>
  <head>
    <title>Henhouse Automatised | <%=texts.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Henhouse Automatised</h1>
    <p><%=texts.WELCOME_MSG %> Henhouse Automatised.</p>
    <p>
      <%=texts.POSITION_MSG %>:
      <span id="position-up"><%=texts.POSITION_UP %></span>
      <span id="position-down"><%=texts.POSITION_DOWN %></span>
    </p>
    <a id="toggle" class="btn"><%=texts.UPDATE_POSITION %></a>

    <p class="footer">
      <span><%=texts.HOME_PAGE %></span>
      <a href="/users/"><%=texts.USERS_LIST %></a>
      <a href="/logout"><%=texts.LOGOUT %></a>
    </p>
    <script type="text/javascript">
      (function() {
        var downText = document.getElementById('position-down');
        var upText = document.getElementById('position-up');
        var btn = document.getElementById('toggle');

        var get = function (url, cb) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', url);
          xhr.onload = function() {
              if (xhr.status === 200) {
                  cb(null, xhr.responseText);
              } else {
                  var err = new Error('Cannot get ' + url);
                  cb(err);
              }
          };
          xhr.send();
        };

        get('/api/door', function (err, data) {
          if (err) return console.error(err);
          if (JSON.parse(data).position === 'up') {
             downText.style.display = 'none';
          } else {
             upText.style.display = 'none';
          }
        });

        btn.onclick = function () {
          btn.style.display = 'none';
          get('/api/door/toggle', function (err, data) {
            btn.style.display = 'inline-block';
            if (err) return console.error(err);
            setTimeout(function(){
              get('/api/door', function (err, data) {
                if (err) return console.error(err);
                if (JSON.parse(data).position === 'up') {
                   downText.style.display = 'none';
                   upText.style.display = 'block';
                } else {
                   upText.style.display = 'none';
                   downText.style.display = 'block';
                }
              });
            }, 3000);
          });
        };
      })();
    </script>
  </body>
</html>
