<!DOCTYPE html>
<html>
  <head>
    <title>Henhouse Automatised | <%=texts.HOME_PAGE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Henhouse Automatised</h1>
    <p><%=texts.WELCOME_MSG %> Henhouse Automatised.</p>
    <p>
      <%=texts.POSITION_MSG %>:
      <span id="position-up"><%=texts.POSITION_UP %></span>
      <span id="position-down"><%=texts.POSITION_DOWN %></span>
    </p>
    <a id="toggle" class="btn"><%=texts.UPDATE_POSITION %></a>

    <p class="footer">
      <span><%=texts.HOME_PAGE %></span>
      <a href="/users/"><%=texts.USERS_LIST %></a>
      <a href="/logout"><%=texts.LOGOUT %></a>
    </p>
    <script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(function() {
        $.ajax({
          url: '/api/door/'
        })
        .done(function(data) {
          if (data.position === 'up') {
             $('#position-down').hide();
          } else {
             $('#position-up').hide();
          }
        })
        var btn = $('#toggle');
        btn.click(function() {
          btn.hide();
          $.ajax({
            url: '/api/door/toggle'
          })
          .done(function(data) {
            if (data.position === 'up') {
               $('#position-down').hide();
               $('#position-up').show();
            } else {
               $('#position-up').hide();
               $('#position-down').show();
            }
          })
          .always(function() {
            btn.show();
          });
        });
      });
    </script>
  </body>
</html>
