<!DOCTYPE html>
<html>
  <head>
    <title>Flydocument Encrypted | <%=texts.NEW_ACCOUNT %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flydocument Encrypted</h1>
    <p><%=texts.NEW_ACCOUNT_MSG %></p>
    <form action="/users/new/" method="post">
     <label for="email"><%=texts.EMAIL %>:</label>
     <input type="email" name="email">
     <label for="password"><%=texts.PASSWORD %>:</label>
     <input type="password" name="password">
     <input type="submit" class="btn btn-submit" value="<%=texts.SUBMIT %>">
    </form>
    <%if (!connected) { %>
    <p class="footer">
      <a href="/"><%=texts.HOME_PAGE %></a>
      <a href="/users/"><%=texts.USERS_LIST %></a>
      <a href="/logout"><%=texts.LOGOUT %></a>
    </p>
    <% } %>
  </body>
</html>
