<!DOCTYPE html>
<html>
  <head>
    <title>Henhouse Automatised | <%if (success == 'user-saved') { %><%=texts.USER_SAVED %><% } else if (success == 'user-deleted') { %><%=texts.USER_DELETED %><% } else if (success == 'user-not-deleted') { %><%=texts.USER_NOT_DELETED %><% } %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Henhouse Automatised</h1>
    <h2>
    <%if (success == 'user-saved') { %>
      <%=texts.USER_SAVED_MSG %>
    <% } else if (success == 'user-deleted') { %>
      <%=texts.USER_DELETED_MSG %>
    <% } else if (success == 'user-not-deleted') { %>
      <%=texts.USER_NOT_DELETED_MSG %>
    <% } %>
    </h2>
    <p class="footer">
      <a href="/"><%=texts.HOME_PAGE %></a>
      <a href="/users/"><%=texts.USERS_LIST %></a>
      <a href="/logout"><%=texts.LOGOUT %></a>
    </p>
  </body>
</html>
